.Cart{
    width:100vw;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Cart-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    height: auto;
    margin-top: 20px;
}

   
.Cart-container_image{
    width: 96px;
    height: 96px;
    border-radius: 4px;
}

.Cart-container_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;

}
.removeAll,
.removeOne{
    width: 150px;
    border: 2px solid red;
}

.Cart-container_close:hover{
    cursor: pointer;
    transform: scale(0.8);
}


@media (min-width:530px){
    
       
        
        .Cart-container{
           flex-direction: row;
        }
        .Preview-container_images{
            width: 96px;
            height: 96px;
            border-radius: 4px;
            margin: 0 5px;
        }
    }
   
    @media  (min-width:1250px){
        
        .Cart{
            width: calc(60%);
        }
        
        
    }